In [2]:
import pandas as pd

# Diccionario de datos

## Dataset Energy

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/Sandtw/Proyecto-Grupal-EmisionesCO2/main/Dataset/energyco2.csv')

In [4]:
data.head()

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547,1409.790188
2,2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547,1081.593377
3,3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547,2455.243565
4,4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547,0.000000

In [5]:
data.drop('Unnamed: 0', axis = 1, inplace = True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      55440 non-null  object
 1   Energy_type                  55440 non-null  object
 2   Year                         55440 non-null  int64
 3   Energy_consumption           44287 non-null  float64
 4   Energy_production            44289 non-null  float64
 5   GDP                          40026 non-null  float64
 6   Population                   46014 non-null  float64
 7   Energy_intensity_per_capita  50358 non-null  float64
 8   Energy_intensity_by_GDP      50358 non-null  float64
 9   CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.2+ MB

In [43]:
data = data[data['Year'] >= 1980]

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55440 entries, 0 to 55439
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      55440 non-null  object
 1   Energy_type                  55440 non-null  object
 2   Year                         55440 non-null  int64
 3   Energy_consumption           44287 non-null  float64
 4   Energy_production            44289 non-null  float64
 5   GDP                          40026 non-null  float64
 6   Population                   46014 non-null  float64
 7   Energy_intensity_per_capita  50358 non-null  float64
 8   Energy_intensity_by_GDP      50358 non-null  float64
 9   CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.7+ MB

In [6]:
columns_dic = ['Country','Energy_type','Year','Energy_consumption','Energy_production','GDP','Population', 'Energy_intensity_per_capita', 'Energy_intensity_by_GDP', 'CO2_emission']

### ***Analisis de Country***

In [22]:
countries = pd.read_clipboard()

***Consideramos solo miembros ONU*** :
 - Paises a eliminar: 'Antarctica', 'American Samoa', 'Bermuda', 'Burma', 'British Virgin Islands', 'Cayman Islands', 'Cook Islands', 'Falkland Islands', 'Faroe Islands', 'Guadeloupe', 'Guam', 'Greenland', 'Gibraltar', 'Hawaiian Trade Zone', 'Hong Kong', 'Kosovo', 'Macau', 'Martinique', 'Montserrat', 'Netherlands Antilles', 'New Caledonia', 'Niue', 'Northern Mariana Islands', 'Palestinian Territories', 'Puerto Rico', 'Reunion', 'Saint Helena', 'Saint Pierre and Miquelon', 'Taiwan', 'Turks and Caicos Islands', 'U.S. Pacific Islands', , 'U.S. Territories', 'U.S. Virgin Islands', 'Western Sahara', 'Wake Island', 

 - Paises faltantes: 'Liechtenstein', 'Marshall Islands', 'Monaco', 'Myanmar', 'Palau', 'San Marino', 
 - Paises posibles a cambiar nombre: 'Brunei' ('Brunei Darussalam'), 'Gambia, The'(Gambia (Republic of The)), 'Moldova' (Republic of Moldova) , 

 - Paises a unir: ['Congo-Brazzaville', 'Congo-Kinshasa'], 
 - Generalidades: 'Former Yugoslavia' (Bosnia y Herzegovina, Croacia, Eslovenia, Macedonia, Montenegro y Serbia) , 'Former Serbia and Montenegro' (Serbia y Montenegro), 'Former Czechoslovakia' (Czech Republic and Slovakia), +Germany ('Germany, East','Germany, West'), 'World',

In [58]:
data.Country[data.Country.str.match(r'(^[Pp].*)')==True].unique()

array(['Pakistan', 'Palestinian Territories', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico'], dtype=object)

## Dataset Energy_Soure

## Dataset Industries

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/Sandtw/Proyecto-Grupal-EmisionesCO2/main/Dataset/energyco2.csv')